# GitLab CI Configuration for Rucio Website 

image: alpine:latest

pages:
  stage: deploy
  script:
    - mkdir public
    - cp -r assets public/
    - cp -r images public/
    - cp *.html public/

  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
